<table class="table table-striped">
  <caption class="sr-only">List of items in this collection</caption>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th class="item-title"><%= t("hyrax.dashboard.my.heading.title") %></th>
    <th class="item-identifier">Item Number</th>
    <th class="text-center uploaded"><%= t("hyrax.dashboard.my.heading.date_uploaded") %></th>
    <th class="text-center visibility"><%= t("hyrax.dashboard.my.heading.visibility") %></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'show_document_list_row', collection: documents, as: :document %>
  </tbody>
</table>
