<footer>
  <div id="indLib_footer" class="our_footer">
    <div class="container">
      <div class="row">
        <div id="indLib_footer_name">
          <a href="https://library.louisville.edu/archives/di">Digital Initiatives</a>
        </div>
        <div id="di-inner">
      

            <div id="indLib_email">
              <a href="mailto:digital@louisville.edu">Email Us</a>
            </div>
            <div id="indLib_phone"> 
              <a href="tel:5028524476" aria-label="call 5 0 2. 8 5 2. 4 4 7 6.">Call Us at 502.852.4476</a>
            </div>
        </div>
      </div>  
    </div>
  </div>

  <div id="ulibs_footer" class="our_footer">
    <div class="container">
      <div class="row">
        <div id="ulibs_footer_logo">
          <a href="https://library.louisville.edu/"><img alt="University of Louisville Libraries logo" src="https://libapps.s3.amazonaws.com/customers/764/images/logo-libraries-ALT_white_120w.png" style="width:12rem; height:2.4rem;" /></a>
        </div>
        <div id="ulibs-inner">
          <div>
            <h2>CONTACTS</h2>
            <ul class="ulibs_footer_menu">
              <li><a href="https://library.louisville.edu/about/addresses">Addresses</a></li>
              <li><a href="https://library.louisville.edu/forms/contact">Contact Form</a></li>
              <li><a href="https://library.louisville.edu/faq/home">Frequently Asked Questions <span class="sr-only">for all University Libraries</span></a></li>
              <li><a href="https://personnel.library.louisville.edu/">Personnel Directory</a></li>
            </ul>
          </div>
          <div>
            <h2>SITE</h2>
            <ul class="ulibs_footer_menu">
              <li><a href="https://library.louisville.edu/site">Site Index</a>  / <a href="https://library.louisville.edu/sitemap">Site Map</a></li>
              <li><a href="https://library.louisville.edu/image-credits">Image Credits</a></li>
              <li><a href="https://library.louisville.edu/policies/privacy">Privacy</a></li>
              <li><a href="https://cardmaillouisville.sharepoint.com/sites/libs">Sharepoint <i class="glyphicon glyphicon-lock"></i></a></li>
            </ul>
          </div>
          <div>
            <h2>FOLLOW UofL LIBRARIES</h2>
            <div class="sm">
             <div class="sm-item">
               <a class="icon-circle facebook" aria-label="Facebook" title="Facebook" href="https://www.facebook.com/UniversityOfLouisvilleLibraries">
                <svg class="tz-fb" xmlns="https://www.w3.org/2000/svg" x="0px" y="0px"
	 viewBox="0 0 112.196 112.196" style="width:3.5rem; height:3.5rem;" xml:space="preserve"><g><title>University Libraries Facebook</title>
        <path style="fill:#FFFFFF;" d="M70.201,58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34
		c0-5.964,2.833-15.303,15.301-15.303L71.56,21.81v12.51h-8.151c-1.337,0-3.217,0.668-3.217,3.513v7.585h11.334L70.201,58.294z"/>
        </g>
       </svg>
               </a>
             </div>
             <div class="sm-item">
               <a class="icon-circle twitter" aria-label="Twitter" title="Twitter" href="https://twitter.com/UofLlibraries">
                <svg class="tz-twitter" xmlns="https://www.w3.org/2000/svg" x="0px" y="0px"
	 viewBox="0 0 112.197 112.197" style="width:3.5rem; height:3.5rem;" xml:space="preserve"><g>
  <title>University Libraries Twitter</title>
	<circle style="fill:#F1F2F2;" cx="56.099" cy="56.098" r="56.098"/>
	<g>
		<path style="fill:#55ACEE;" d="M90.461,40.316c-2.404,1.066-4.99,1.787-7.702,2.109c2.769-1.659,4.894-4.284,5.897-7.417
			c-2.591,1.537-5.462,2.652-8.515,3.253c-2.446-2.605-5.931-4.233-9.79-4.233c-7.404,0-13.409,6.005-13.409,13.409
			c0,1.051,0.119,2.074,0.349,3.056c-11.144-0.559-21.025-5.897-27.639-14.012c-1.154,1.98-1.816,4.285-1.816,6.742
			c0,4.651,2.369,8.757,5.965,11.161c-2.197-0.069-4.266-0.672-6.073-1.679c-0.001,0.057-0.001,0.114-0.001,0.17
			c0,6.497,4.624,11.916,10.757,13.147c-1.124,0.308-2.311,0.471-3.532,0.471c-0.866,0-1.705-0.083-2.523-0.239
			c1.706,5.326,6.657,9.203,12.526,9.312c-4.59,3.597-10.371,5.74-16.655,5.74c-1.08,0-2.15-0.063-3.197-0.188
			c5.931,3.806,12.981,6.025,20.553,6.025c24.664,0,38.152-20.432,38.152-38.153c0-0.581-0.013-1.16-0.039-1.734
			C86.391,45.366,88.664,43.005,90.461,40.316L90.461,40.316z"/>
	</g>
</g>

       </svg>
               </a>
             </div>            
             <div class="sm-item">
               <a class="icon-circle wp" aria-label="News on WordPress" title="News on Wordpress" href="https://uofllibraries.wordpress.com/feed/">
                 <svg class="tz-wp" xmlns="https://www.w3.org/2000/svg"  style="width:2rem; height:2rem; margin:.7rem 0 1rem .7rem;" 
	 viewBox="0 0 512 512" xml:space="preserve">
         <g><title>University Libraries News on WordPress</title>
<g fill="#ff9f00"><path d="m128.101562 383.898438c-29.402343-29.097657-76.800781-29.097657-106.203124 0-29.097657 29.398437-29.097657 76.800781 0 106.199218 29.402343 29.101563 76.800781 29.101563 106.203124 0 29.097657-29.398437 29.097657-76.796875 0-106.199218zm0 0"/><path d="m330 497c0 5.097656-.601562 9.898438-.902344 15h-90c.601563-5.101562.902344-9.902344.902344-15 0-62.101562-25.199219-118.199219-66-159s-96.898438-66-159-66c-5.097656 0-9.902344.300781-15 .898438v-90c5.097656-.300782 9.902344-.898438 15-.898438 87 0 165.601562 35.398438 222.597656 92.398438 57.003906 57 92.402344 135.601562 92.402344 222.601562zm0 0"/><path d="m512 497c0 5.097656-.601562 9.898438-.902344 15h-92c.300782-5.101562.902344-9.902344.902344-15 0-111.601562-45.300781-213-118.800781-286.199219-73.199219-73.5-174.601563-118.800781-286.199219-118.800781-5.097656 0-9.902344.601562-15 .902344v-92c5.097656-.300782 9.902344-.902344 15-.902344 136.800781 0 260.398438 57.5 350.097656 146.898438 89.402344 89.703124 146.902344 213.300781 146.902344 350.101562zm0 0"/></g><path d="m128.101562 383.898438c29.097657 29.398437 29.097657 76.800781 0 106.199218-29.402343 29.101563-76.800781 29.101563-106.203124 0zm0 0" fill="#ff7816"/><path d="m237.597656 274.398438c57.003906 57 92.402344 135.601562 92.402344 222.601562 0 5.097656-.601562 9.898438-.902344 15h-90c.601563-5.101562.902344-9.902344.902344-15 0-62.101562-25.199219-118.199219-66-159zm0 0" fill="#ff7816"/><path d="m512 497c0 5.097656-.601562 9.898438-.902344 15h-92c.300782-5.101562.902344-9.902344.902344-15 0-111.601562-45.300781-213-118.800781-286.199219l63.898437-63.902343c89.402344 89.703124 146.902344 213.300781 146.902344 350.101562zm0 0" fill="#ff7816"/></g>
       </svg>
               </a>
             </div>
             <div class="sm-item">
               <a class="icon-circle more-sm" aria-label="More University Libraries Social Media" title="More University Libraries Social Media" href="https://library.louisville.edu/follow">
                <svg id="plus_1828926" class="tz-more" xmlns="https://www.w3.org/2000/svg" x="0px" y="0px"
	 viewBox="0 0 512 512" style="width:3.5rem; height:3.5rem;" xml:space="preserve">
  <g><title>More social media icon</title>
    <path d="m368 272h-224c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h224c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/><path d="m256 384c-8.832031 0-16-7.167969-16-16v-224c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v224c0 8.832031-7.167969 16-16 16zm0 0"/></g>
       </svg>
               </a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  <div id="uofl_footer">
    <div class="container">
<div class="row">
      <div id="uofl_logo">
        <a href="https://louisville.edu/"><img alt="University of Louisville logo" src="https://libapps.s3.amazonaws.com/customers/764/images/uofl-logo.png" /></a>
      </div>
      <ul id="uofl_footer_menu">
        <li><a href="https://louisville.edu/admissions/apply">Apply</a></li>
        <li><a href="https://louisville.edu/about/campuses.html">Campus Maps</a> </li>
        <li><a href="https://louisville.edu/its/get-help/its-helpdesk">IT HelpDesk</a></li>
        <li><a href="https://louisville.edu/jobs/">Jobs</a></li>
      </ul>
    </div>
</div>
  </div>
</footer>

<!-- Removed Default Hyku Footer
<footer class="navbar navbar-inverse site-footer">
  <div class="container">
<div class="row">
    <div class="navbar-text">
        <p><%#= t('hyrax.footer.service_html') %></p>
        <p>Hyku v<%#= Hyku::VERSION %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text">
        <p><%#= t('hyrax.footer.copyright_html') %></p>
        <p><%#= t('hyrax.background_attribution_html') %></p>
        <%# if admin_host? && !user_signed_in? %>
          <p><%#= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path %></p>
        <%# end %>
      </div>
    </div>
</div>
  </div>
</footer>
-->
