<%# OVERRIDE Hyrax 2.9 to support shared search %>
<div class="search-results-title-row">
  <h4 class="search-result-title">
  <%= link_to document.title_or_label do %>
    <%= generate_work_url(document, request) %>
    <span class="sr-only"><%= document.id %></span>
  <% end %>
  </h4>
</div>
