@charset "utf-8";
/* CSS Document  custom-fonts.scss */

body { font-size:10px; }


.navbar-nav { font-size:1.6rem; }

  h2.facets-heading, 
  .facets .facets-heading {
    font-weight:bold; 
    text-transform:capitalize; }

  div.facets h3, 
  .view-type-group .btn { 
    font-size:1.7rem; 
  }


  h1, .h1, .panel-heading h1 { font-size: 3.2rem;} 
  h2, .modal-title, .h2 { font-size:2.8rem;}
  h3, .h3 { font-size:2.4rem;}
  h4, .facets .facets-heading, .h4 { font-size:2rem;}
  h5, #documents .document .document-title-heading, .h5, span.constraints-label { font-size:1.8rem;}
  h6, .h6, p, li, footer, header, nav, form, table, dl,
  #sortAndPerPage, .alert, 
  .btn, .facets-toggle, td.toggle input[type=submit] { font-size:1.6rem;}

  @media screen and (max-width:767.99px) {
    h1, .h1, .panel-heading h1 { font-size: 2.4rem;} 
    h2, .modal-title, .h2 { font-size:2.3rem;}
    h3, .h3 { font-size:2.2rem;}
  }

  h1, h2, h3, h4, h5, h6,  .h1, .h2, .h3, .h4, .h5, .h6, 
  #appliedParams,
  .btn, button, 
  .btn-group .dropdown-menu, 
  #documents .document .document-title-heading, 
  .facets .facets-heading,
  .facet-label, 
  .facet-count, 
  label, .label, 
  .modal-title,  
  .more_facets_link,
  nav, 
  .pagination, 
  span.constraints-label, 
  #sortAndPerPage { 
    font-family:'Open Sans', Arial, sans-serif;
  }

  .iiif-metadata-component { font-size:1.4rem; }
  
  #desc-meta-th,
  #content-wrapper .collection-description,
  #content_block_page p { font-family:Merriweather, serif!important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5,  .h6, 
.modal-title,  .facets .facets-heading,  #documents .document .document-title-heading,  span.constraints-label {
    font-weight:700; 
  }

  .hyc-generic .hyc-title h1 { 
    font-size:3.6rem; 
    margin-bottom: 1rem; 
  }

  .btn-xs, .btn-group-xs > .btn, 
  .btn-group-xs > .facets-toggle, 
  td.toggle .btn-group-xs > input[type=submit] {
    font-size:1.4rem; 
  }

  i.glyphicon.glyphicon-search, 
  .glyphicon.glyphicon-gallery.view-icon-gallery, 
  .glyphicon.glyphicon-list.view-icon-list {
	font-family:'Font Awesome 5 Free';}

  .glyphicon { font-weight:700; }
  .glyphicon-list:before { content: "\f03a"; }
  .view-icon-gallery:before { content: "\f00a";}
   
  #documents.gallery .document-title-heading { font-size:1.6rem!important; }
  
  h3.search-result-title { font-size:1.8rem; }

  .panel-body { line-height: 1.2; }
  

#facets h2.facets-heading { text-transform:uppercase; }
