@charset "utf-8";
/* CSS Document  custom-fonts.scss */

html { font-size:10px; }

.public-facing { 

  h2.facets-heading, 
  .facets .facets-heading {
    font-weight:bold; 
    text-transform:capitalize; }

  div.facets h3, 
  .view-type-group .btn { 
    font-size:1.7rem; 
  }


  h1, .h1, .panel-heading h1 { font-size: 3.2rem;} 
  h2, .modal-title, .h2 { font-size:2.8rem;}
  h3, .h3 { font-size:2.4rem;}
  h4, .facets .facets-heading, .h4 { font-size:2rem;}
  h5, #documents .document .document-title-heading, .h5, span.constraints-label { font-size:1.8rem;}
  h6, .h6 { font-size:1.6rem;}

  @media screen and (max-width:767.99px) {
    h1, .h1, .panel-heading h1 { font-size: 2.4rem;} 
    h2, .modal-title, .h2 { font-size:2.3rem;}
    h3, .h3 { font-size:2.2rem;}
  }

  h1, h2, h3, h4, h5, h6,  .h1, .h2, .h3, .h4, .h5, .h6, 
  .modal-title,  
  .facets .facets-heading,
  .facet-label, 
  .facet-count, 
  .more_facets_link,
  #documents .document .document-title-heading, 
  span.constraints-label, 
  nav, 
  .btn, button, 
  .btn-group .dropdown-menu, 
  .pagination, 
  label, .label, 
  #sortAndPerPage { 
    font-family:'Open Sans', Arial, sans-serif;
  }

  .iiif-metadata-component { font-size:1.4rem; }
  .iiif-metadata-component .item_description { font-family:Merriweather, serif;}
  
  #content_block_page p { font-family:Merriweather, serif!important; }

  h1, h2, .modal-title, h3, h4, .facets .facets-heading, h5, #documents .document .document-title-heading, h6, .h1, .h2, .h3, .h4, .h5, span.constraints-label, .h6 {
    font-weight:700; 
  }

  .hyc-generic .hyc-title h1 { 
    font-size:3.6rem; 
    margin-bottom: 1rem; 
  }

  .btn-xs, .btn-group-xs > .btn, 
  .btn-group-xs > .facets-toggle, 
  td.toggle .btn-group-xs > input[type=submit] {
    font-size:1.4rem; 
  }

  .glyphicon { font-weight:700; }

   
  #documents.gallery .document-title-heading { font-size:1.6rem!important; }
  
  h3.search-result-title { font-size:1.8rem; }

  .panel-body { line-height: 1.2; }
  
}