@charset "utf-8";
/* CSS Document  custom-footer.css */


/* FOOTER */
footer, #contactFooter { font-family: "Open Sans", Arial, sans-serif; }



footer .container:before, 
footer .container:after { display:none; }

.site-footer { position:relative; }

#contactFooter { 
  min-height:unset; 
  background-color:transparent; 
  margin-top:4rem; 
}


#indLib_footer, 
#uofl_footer, 
#ulibs_footer {
  padding:1rem; 
}

#indLib_footer_name {  font-size:1.8rem;  }

#indLib_footer_name a { 
  text-transform:uppercase;
  font-weight:bold;
}

ul.ulibs_footer_menu { padding:0; }

#libs-headingThree a span span { text-transform:lowercase;}
#uofl_footer_menu,
.ulibs_footer_menu {
  list-style-type: none; 
}

#uofl_footer_menu a {
  color:white;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 1px;
}

footer .panel-title a i { margin-left:1rem; }

.our_footer #collapse3 a, 
.our_footer #collapseThree a { margin-right:1.4rem; }

#uofl_footer_menu a,
footer .panel-title a  {
  text-transform:uppercase;
}



#s-lg-guide-footer-attributes { list-style-type:none;}
#meta-wrap { padding:0; }

#s-lib-footer-public { justify-content: flex-start;}

#web_menu li { font-size:1.2rem; }

#ulibs-inner h2 {
  font-size:1.6rem; 
  margin:0;
}


.sm { display:flex; }

.sm-item { margin-right:.5rem; }

.icon-circle{
  white-space: nowrap;
  overflow:hidden; 
  position:relative;
  z-index:1;
  width:4rem;
  height:4rem;
  border-width:.3rem;
  border-style:solid; 
  border-radius:50%; 
  transition: background-color .1s ease; 
  display:inline-block;
  font-size:0; 
  vertical-align: middle;
}

.icon-circle::before{
  background-position:50% 50%;
  background-repeat:no-repeat;
  content: '';
  font-size:0;
  display:block;
  position:absolute;
  left:50%;
  top:50%; 
  transform: translate(-50%, -50%);
  width:2rem; 
  height:2rem;
  background-size:2rem 2rem;
}

.icon-circle.facebook { border-color:#3b5998; background-color:#ffffff;}
.icon-circle.twitter { border-color:#55acee; background-color:#ffffff;}
.icon-circle.instagram { border-color:#ff5d40; background-color:#ffffff;}
.icon-circle.flickr { border-color:#4A62A8; background-color:#ffffff;}
.icon-circle.wp { border-color:#ff5d40;  background-color:#ffffff; }
.icon-circle.more-sm { border-color:#55acee; background-color:#ffffff;}


.icon-circle.facebook path { fill:#3b5998!important; }
.icon-circle.facebook:hover { background-color:#3b5998; }
.icon-circle.facebook:hover path { fill:#fff!important; }

.icon-circle.twitter path { fill:#55acee; }
.icon-circle.twitter:hover path { fill:#ad0000!important; }

.icon-circle.instagram:hover { background-color:#FFF7D5;}

.icon-circle.flickr circle { fill:#ffffff!important; }
.icon-circle.flickr:hover circle { fill:#fff7d5!important; }

#ulibs_footer a.wp svg path { fill:#ff5d40; }
.icon-circle.wp:hover { border-color:#ffffff; background-color:#ff5d40;}
#ulibs_footer a.wp:hover svg path { fill:#ffffff; }


#ulibs_footer a.more-sm svg path { fill:#55acee; }
.icon-circle.more-sm:hover { background-color:#ffffff;}
#ulibs_footer a.more-sm:hover svg path { fill:#ad0000; }


.icon-circle.plus {
  color:black;
  font-size:3rem; 
  font-weight:bold;
  text-decoration:none; 
  display: flex;
  justify-content: center;
  align-items: center;
}

a.icon-circle.plus:hover {
  background-color:#000;
}
a.icon-circle.plus:hover span {
  color:white;
}


footer .panel-body .join-email a { text-decoration:underline; }

footer.navbar-inverse .navbar-link { 
  color: #000000; 
  text-decoration:underline #ad0000; 
}

footer.navbar-inverse .navbar-link:hover { color:#ad0000; }

footer.navbar.site-footer { 
  margin-top:0; 
  border:none; 
  height: unset;
}
footer.site-footer .row { margin-bottom:1rem; }
footer.site-footer .navbar-text { margin:0; }
footer.site-footer p { 
  margin:0; 
  text-align:left; 
  }
footer.site-footer .navbar-right { margin:0; }



@media (max-width: 767.99px) {
  
  footer .panel-body { padding-top:0; }
  
  
  footer #collapse3 .panel-body { padding-top:1rem; }
  
  #uofl_footer_menu a, footer .panel-title a {display:flex; }
  
  footer .panel-title a:focus { 
    background-color:#ad0000; 
    color:white; 
    outline:none;
  }
  

  
#indLib_footer, #uofl_footer, #ulibs_footer { padding-bottom: 3rem; }

  .indLib_address { 
    width:20rem; 
    margin: 0 auto 1rem; 
    text-align: center;
  }
  #indLib_footer_name { 
  display:flex; 
  justify-content: center; 
    text-align: center;
  padding:1rem .5rem; 
}
	#ulibs-inner h2 { margin-bottom: .5rem; }
	#ulibs-inner > div { margin:1.5rem 0; }
  
  #uofl_footer, 
  .our_footer { 
    display:flex; 
    flex-direction:column;
    align-items:center;
  }
  
  #uofl_footer_menu {
    padding: 1rem 0 2rem; 
    column-count:2; 
    column-gap:3rem; 
  }
  
  footer #uofl_logo, 
  footer #ulibs_footer_logo { 
    padding:1rem 1rem .5rem;
    text-align:center;
  }
  
}

@media (min-width:768px) {


  #indLib_footer .row:before, 
  #ulibs_footer .row:before, 
  #uofl_footer .row:before { display:none; content:none;  }
  

  #indLib_footer .row,
  #ulibs_footer .row, 
  #uofl_footer .row {
    display:grid;
    grid-template-columns: 25rem 1fr;
    width:100%;
  }
  
  
  .our_footer .container { 
    display:flex;
    padding: 2rem 0; 
    align-items:flex-start; 
    justify-content: space-between; 
  }
  
  #indLib_footer_name { 
    line-height: 1.15; 
  }
  
  #ulibs-inner {
    display:flex; 
    justify-content: space-between;
    width:100%; 
  }
  
  
  #uofl_footer_menu { 
    padding-left:0; 
    display:flex; 
    justify-content: space-between;
    margin-bottom:0; 
  }
  
  ul#uofl_footer_menu li { padding:0; }
  
  
  footer .glyphicon-lock { font-size:12px; }
  
  
  footer.navbar.site-footer .navbar-text { display:flex; }
  footer.navbar.site-footer .navbar-text p:first-of-type { margin-right:1rem;  }

}



