/* HEADER */

#header-row1 { 
  position:relative; 
  height:3rem; 
}

#header-row1 .glyphicon-globe { display:none; }

#header-navbar {
  z-index:20;
  background-color: black;
  border-top:none; 
  padding:18px 0 10px 0; 
  margin-bottom: 0; 
  box-shadow: 0 1px 1px #ccc; 
  font-family:"Open Sans", Arial, sans-serif; 
  border-radius:0;
}

.glyphicon-log-in:before { display:none; }

#header-navbar a { text-decoration:none; }

#header-navbar #logo-col { 
  padding-left: 0; 
  padding-right:0; 
  display:flex; 
}

#logo, #logo-sm { margin-right:1rem; }

#header-navbar .navbar-product-name {
  display: block; 
  margin:0; 
  margin-top:-0.3rem; 
  padding:0; 
  text-transform:uppercase;
  text-align: center;
  font-weight:700; 
  font-size:3rem; 
  line-height:1; 
  color:white; 
  white-space:nowrap;
}

#header-navbar .navbar-product-name a { color:white; }

@media (max-width: 767.99px) {
  #logo {display:none; }
  
  #header-navbar #logo-col { 
    display:flex;
    justify-content: center;
  }
  #search-form-header .form-group { align-items:center; }
}

@media (max-width: 499.99px) { 
  #header-navbar .navbar-product-name { font-size:2.4rem; }
  #logo-sm a { display:flex; }
  #logo-sm img { height:20px; }
  #home-header { margin:0 1rem; }
  #home-header h1 { font-size: 2.4rem;}
  #home-header h2 { font-size:1.8rem; line-height:1.4; margin: 0; }
}

@media (min-width: 992px) { 
  #logo { margin-right:2rem; }
}

#header-navbar #user-utilities .navbar-nav a {
  color:#ddd; 
  text-transform: none; 
  margin-bottom: 0; 
  font-size:1.5rem; 
  padding:0.5rem; 
}

#header-navbar #user-utilities .navbar-nav a:active, 
#header-navbar #user-utilities .navbar-nav a:hover, 
#header-navbar #user-utilities .navbar-nav a:focus { background-color:#ad0000; }

#header-navbar .dropdown.open .dropdown-menu { z-index: 1001; }
#header-navbar #user-utilities .dropdown.open .dropdown-menu a { color: #333; }
#header-navbar #user-utilities .dropdown.open .dropdown-menu a:hover { color: white; }

#shared-locale-picker { display:none; }


/* NAVBAR  & MASTHEAD */

.image-masthead .navbar.navbar-default {
  background-color: rgb(236,238,244);
}

.navbar-default .navbar-nav > li > a { 
  color:white; 
  font-weight:700; 
  text-shadow:1px 1px 0 black;
}

nav.navbar-default .dropdown-menu { text-shadow:none; }

.navbar + .navbar, .navbar + .image-masthead { 
  margin-top:0; 
  display:flex; 
  flex-direction:column-reverse; 
  justify-content: center; 
  margin-bottom:0; 
  border-bottom: none;
  border-bottom:1px solid #dcdcdc; 
}

.image-masthead .navbar { 
  border:none; 
  min-height:auto; 
}

.image-masthead .navbar, 
.navbar + .navbar, .navbar + .image-masthead { 
  background-color: #e2e8ec;
  border-color: #dce3e8;
}

.image-masthead .navbar .navbar-nav a { color:#333; font-weight:bold; }


.image-masthead .navbar label { 
  color:#eaeaea;
  text-shadow: 1px 1px 0 black; 
} 
.image-masthead .navbar.navbar-default .navbar-nav a { color:white; }


.image-masthead ul.nav.navbar-nav.col-sm-5, 
.navbar-static-top>div>.row>.col-sm-5 { display:none; }
.image-masthead ul.nav.navbar-nav.col-sm-7 { width:100%; }

.container.site-title-container, 
.image-masthead .background-container, 
.image-masthead .background-container-gradient { display:none; }
 

@media (max-width:768px) {
  #masthead .navbar-toggle { background-color:#333; color:white; }
  .image-masthead .background-container, 
  .image-masthead .background-container-gradient { display:none;  }
}


#top-navbar-collapse { border-color:#e7e7e7; }



.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.image-masthead .navbar .navbar-nav a:hover, 
.image-masthead .navbar .navbar-nav a:focus {
  color:white; 
  background-color:#ad0000; 
}

.image-masthead .navbar .active > a, 
.image-masthead .navbar .active > a:hover, 
.image-masthead .navbar .active > a:focus {
  background-color:rgba(0,0,0,.3);
  color:white;
}



