/* production custom-facets */


.staff #facets .panel-default > .panel-heading, 
body.public-facing #facets .panel-default > .panel-heading { 
  border-radius:4px; 
  padding:.8rem;
}

h3.panel-title.facet-field-heading { line-height:1; }

#facets .panel-title a { text-transform:uppercase; }


.panel-heading.collapse-toggle .panel-title:after {
	content:"\e080"; 
	transform: rotate(-90deg);
}
.panel-heading.collapse-toggle.collapsed .panel-title:after { 
	transform:rotate(90deg);
}


.facet-values li { 
  display:flex;
  justify-content: space-between;
}
.facet-values .facet-count { width:5em!important; }



@media (max-width:767.99px) { 

  #sidebar, 
  .top-panel-heading.panel-heading { padding-left:1rem; }

  
  #facets {
    margin:2rem 0 0; 
    padding-bottom:0; 
  }
  #facets .top-panel-heading {
    padding-left:1rem; 
  }
}

@media (min-width:768px) { 

  #sidebar, 
  .top-panel-heading.panel-heading { padding-left:0; }

}



.facet-values { margin-bottom:0; }
.facet-values .facet-label, .facet-values li .selected { text-align:left; }
.facet-values .remove { text-indent:.7rem; }
#facets span.glyphicon.glyphicon-remove { line-height:1.4; }
.view-type a.view-type-masonry, 
.view-type a.view-type-slideshow { display:none; }




.view-type-group.btn-group > .btn:nth-of-type(2):not(.dropdown-toggle) {
  border-bottom-right-radius:4px;
  border-top-right-radius: 4px;
}

#appliedParams { 
  display:flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom:1rem; 
  flex-wrap:wrap; 
  padding:1rem 0; 
}

div#appliedParams > * { margin:0 1rem 1rem 0; }
#appliedParams:before, #appliedParams:after { display:none; }

#startOverLink { 
  border-radius:4px; 
}
