@charset "utf-8";
/* CSS Document  custom-results.css */


.search-widgets { text-align:right; }


.search-results-title-row { 
  display:flex; 
  justify-content: space-between; 
  align-items:center; 
  margin-bottom:1rem; 
}

.document span.label { display:none; }

#documents { margin-bottom:3rem; }


#documents.documents-list .col-md-2, 
#documents.documents-list .col-md-6 {
  padding-left:0; 
}

#documents.documents-list .col-md-6 { width:83.3333333%; }

#documents.documents-list .list-thumbnail, 
#documents.documents-list .metadata {
  width:100%; 
}

#documents.documents-list .metadata .dl-horizontal dd:nth-of-type(2) {
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis; 
	width:calc(100% - 160px);
}


#documents .document { 
	margin-top:6px;
	padding-top:6px;
	border-bottom: 1px dotted #ddd;
}
#documents .document:last-of-type { border-bottom:none; }



@media (min-width:980px) {
	div#sortAndPerPage {
		display:grid; 
		grid-template-columns: 0 50% 1fr;
	}

}
