@charset "utf-8";
/* CSS Document  custom-colors.scss */



  nav.breadcrumb a, 
  .search-result-title a,
  #documents dd a,
  #documents .search-result-title a, 
  #documents .pagination a, 
  #content-wrapper .collection-description a,
  #hyrax-base-metadata a, 
  #content-wrapper .hyc-blacklight .media a 
  { 
    color:#000000; 
    text-decoration: underline #ad0000;
  }

  nav a, 
  .nav-pills a, 
  .panel-title > a, 
  .dropdown-menu > li > a, 
  .btn, 
  .dashboard .nav-tabs > li > a, 
  .visibility-link, 
  .visibility-link .label { text-decoration: none; }

  a:hover, a:focus
  nav.breadcrumb a:hover, nav.breadcrumb a:focus,
  .search-result-title a:hover, .search-result-title a:hover,
  #documents dd a:hover,  #documents dd a:focus
 { color:#ad0000; }

  .active > a:hover { cursor:auto; }


  .panel-default > .panel-heading {
    background-color: #e2e8ec!important;
    border-color: #dce3e8!important;
  }



  .facet-values a {
    color:#ad0000; 
    text-decoration: none; 
  }
  .facet-values a:hover { background-color:#eaeaea; }


  body.public-facing .btn-primary, 
.btn-primary { background-color: #ad0000; }

  #content-wrapper .btn-default { 
    background-color: #333; 
    color:white; 
  }

  #content-wrapper .btn-default:hover {
    background-color:#ad0000;
    color:white; 
  }

  #content-wrapper .constraint-value.btn-default {
    background-color:white; 
    color:black; 
    border: 1px solid #ccc;
  }

  #appliedParams .btn-default:hover,
  #appliedParams .btn-default:hover:focus {
    background-color:white; color:black;
  } 

  #content-wrapper .nav-pills > li > a:hover, 
  #content-wrapper .nav-pills > li > a:focus, 
  #content-wrapper .btn-primary:hover, 
  #content-wrapper .btn-primary:focus, 
  #content-wrapper .btn-default:hover, 
  #content-wrapper .btn-default:focus { 
    background-color:#ad0000; 
    color:white; 
  }
  
  
  
  #content-wrapper .btn-default:active, 
  #content-wrapper .btn-default.active {
    background-color:white; 
    color:#333;
    box-shadow:none;
  }

  .btn-danger, 
  .appliedFilter .remove:hover, 
  .appliedFilter .remove:active, 
  span.appliedFilter .remove { 
    background-color:rgba(173,0,0,.8); 
    border-color:rgba(173,0,0,.9);
    color:white;
  }
  
  .btn.btn-danger:hover { background-color:#ad0000; color:white;}
  
  #documents.gallery .document-title-heading { font-size:1.6rem!important; }


  #sort-dropdown .dropdown-toggle, 
  #per_page-dropdown .dropdown-toggle, 
  #sort-dropdown .dropdown-toggle .caret, 
  #per_page-dropdown .dropdown-toggle .caret { 
	color:white!important; 
	background-color:black;
  }

  #sortAndPerPage .open > .btn-default.dropdown-toggle:hover, 
  #sortAndPerPage .open > .btn-default.dropdown-toggle:active, 
  #sortAndPerPage .open > .btn-default.dropdown-toggle:focus, 
  .facets-toggle:hover, 
  .facets-toggle:active, 
  .facets-toggle:focus { 
    background-color:#ad0000; 
    color:white; 
  }

  #sortAndPerPage .view-type a.active .glyphicon { color:#333; }



  .view-type a.active { color:#333; }
  
  .alert-info {
    color:rgb(0, 0, 0);
    background-color: #e2e8ec;
    border-color:#dce3e8;
  }

body.public-facing .pagination > li > a, 
.pagination > li > a { color:#ad0000; }

body.public-facing .pagination li.disabled a { color:#777; }

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #333;
  border-color: black;
  color:white;
}

  .pagination > li > a:hover, 
  .pagination > li > a:active, 
  .pagination > li > a:focus, 
  body.public-facing .pagination > li > a:hover, 
  body.public-facing .pagination > li > a:active, 
  body.public-facing .pagination > li > a:focus
   { 
    background-color:#ad0000; 
    color:white; 
  }


.hyc-bl-pager .pagination li.disabled a {
  color: #555;
}


  
  /* HEADER */
  
#header-navbar { background-color: #000; }
#header-navbar #user-utilities .dropdown.open .dropdown-menu a:active { background-color:#ad0000; color:white; } 
#header-navbar .navbar-product-name a { color:white; }
#header-navbar #user-utilities .navbar-nav a {   color:#ddd; }

#header-navbar #user-utilities .navbar-nav a:active, 
#header-navbar #user-utilities .navbar-nav a:hover, 
#header-navbar #user-utilities .navbar-nav a:focus { background-color:#ad0000; }
#header-navbar #user-utilities .dropdown.open .dropdown-menu a { color: #333; }
#header-navbar #user-utilities .dropdown.open .dropdown-menu a:hover { color: white; }

  
  /* MASTHEAD and NAVBAR */
body.public-facing .image-masthead .navbar, 
.image-masthead .navbar.navbar-default { background-color: #e2e8ec!important; }


.navbar-static-top .navbar-nav > li > a, 
.hyrax-pages .image-masthead .navbar.navbar-default .navbar-nav a, 
  .image-masthead .navbar.navbar-default .navbar-nav a,
  .navbar-default .navbar-nav > li > a { 
    color:#333;
    text-transform:none;
    text-shadow:unset;
    font-weight:700; 
  }
  

nav.navbar-default .dropdown-menu { text-shadow:none; }
.navbar + .navbar, .navbar + .image-masthead { border-bottom:1px solid #dcdcdc; }


.hyrax-pages .image-masthead .navbar.navbar-default .navbar-nav a:hover,  
.hyrax-pages .image-masthead .navbar.navbar-default .navbar-nav a:active,
.hyrax-pages .image-masthead .navbar.navbar-default .navbar-nav a:focus,
.image-masthead .navbar.navbar-default .navbar-nav li.active a, 
  .image-masthead .navbar.navbar-default .navbar-nav li.active a:hover, 
  .image-masthead .navbar.navbar-default .navbar-nav li.active a:focus, 
  .image-masthead .navbar.navbar-default .navbar-nav li.active a:active, 
  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus { 
      color:white;
      background-color:#333!important;
    }

body.public-facing .image-masthead .navbar .navbar-nav a:hover, 
body.public-facing .image-masthead .navbar .navbar-nav a:active, 
body.public-facing .image-masthead .navbar .navbar-nav a:focus, 
  .image-masthead .navbar.navbar-default .navbar-nav a:hover, 
  .image-masthead .navbar.navbar-default .navbar-nav a:active, 
  .image-masthead .navbar.navbar-default .navbar-nav a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color:white;
    background-color:#333; 
  }

.image-masthead .navbar, 
.navbar + .navbar, .navbar + .image-masthead { 
  background-color: #e2e8ec;
  border-color: #dce3e8;
}

.image-masthead .navbar .navbar-nav a { color:#333; font-weight:bold; }


.image-masthead .navbar label { 
  color:#eaeaea;
  text-shadow: 1px 1px 0 black; 
} 
.image-masthead .navbar.navbar-default .navbar-nav a { color:white; }


  #masthead nav .navbar a { text-shadow:none; }
#top-navbar-collapse { border-color:#e7e7e7; }

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.image-masthead .navbar .navbar-nav a:hover, 
.image-masthead .navbar .navbar-nav a:focus {
  color:white; 
  background-color:#ad0000; 
}

.image-masthead .navbar .active > a, 
.image-masthead .navbar .active > a:hover, 
.image-masthead .navbar .active > a:focus {
  background-color:rgba(0,0,0,.3);
  color:white;
}





  
  nav li.active { outline:1px dotted #333; }
  

  .navbar-static-top .navbar-nav > li:active > a,
  .hyrax-pages .image-masthead .navbar.navbar-default .navbar-nav li:active a, 
  .hyrax-contact_form .image-masthead .navbar.navbar-default .navbar-nav li:active a { 
    color: #333; 
   }
  
  #search-submit-header, #collection_submit { background-color:#ad0000; }

    
  .hyrax-pages .image-masthead li:active a, 
  .hyrax-contact_form .image-masthead li:active a { 
    outline: 1px dashed #333;
   }
  
  

/* FOOTER */
footer a, 
body.public-facing footer a  { color:white; text-decoration:none; }

body.public-facing footer a:hover, 
footer a:hover { background-color:#ad0000; color:white; text-decoration:none; }

#indLib_footer  {
  background-color: #444; 
  color: #fff;
}
#indLib_footer a { color:white; }

#indLib_footer a:hover { 
  background-color:#ad0000; 
}


#ulibs_footer {
  background-color: #222; 
  color: #fff;
}

#uofl_footer { 
  background-color:black; 
  color:white;
}

#ulibs_footer a svg path, 
#ulibs_footer a svg circle { 
  fill:#ffffff; 
}

#ulibs_footer a:hover svg path, 
#ulibs_footer a:hover svg circle { 
  fill:#ad0000; 
}



  /* FACETS */
  body.public-facing .facet_select, 
  #facets a { color:#000; }

  body.public-facing .facet_select:hover, 
  #facets .facet-values a:hover { 
    background-color:transparent; 
    text-decoration: 1px #ad0000 underline;
    color:#000; 
  }
  .facet-values .facet-count { color:#000; }

  .facets-toggle .icon-bar { background-color: white; }
  .facets-toggle:hover { background-color:#ad0000;}
  .facet-values li .selected { color:#000; }
  #appliedParams { 
    border-bottom:1px solid #e5e5e5; 
    background-color:transparent;
  }
  #startOverLink { 
    background-color:#333; 
    color:white; 
  }


  .panel-heading:focus,
  .panel-heading a:focus { outline:1px dashed black; }
  .panel-heading:focus { outline-offset: .25rem; }
  .panel-heading a:focus {outline-offset: 1.2rem; }



  
  @media (max-width:767.99px) {
    #facets .top-panel-heading { background-color:#e2e8ec; }
  }
  @media (min-width:768px) { 
    .facets-toggle { 
      background-color: #555; 
      color:white; 
      border-color:#333; 
    }
  }


