/* production custom-header */

/* HEADER */

#logo-col img { margin-right:1rem; }

#header-row1 { 
  position:relative; 
  height:3rem; 
}

#header-row1 .glyphicon-globe { display:none; }

#header-navbar {
  z-index:20;
  border-top:none; 
  padding:18px 0 10px 0; 
  margin-bottom: 0; 
  box-shadow: 0 1px 1px #ccc; 
  font-family:"Open Sans", Arial, sans-serif; 
  border-radius:0;
}

#header-navbar .navbar-product-name a { text-transform: uppercase;}

.glyphicon-log-in:before { display:none; }

#header-navbar a { text-decoration:none; }

#header-navbar #logo-col { 
  padding-right:0; 
  display:flex; 
}


#logo-col img { margin-right:1rem; }


#header-navbar .navbar-product-name {
  display: block; 
  margin:0; 
  margin-top:-0.4rem; 
  padding:0; 
  text-align: center;
  font-weight:700; 
  font-size:3rem; 
  line-height:1; 
  color:white; 
  white-space:nowrap;
}


#user_utility_links { display:flex; align-items:center;}

ul#head-user-actions { list-style-type:none; display:flex; }

.dropdown-header { font-size:1.6rem; }


@media (max-width: 767.99px) {
  #logo-col>a>img {display:none; }
  
  #header-navbar #logo-col { 
    display:flex;
    justify-content: center;
  }
  #search-form-header .form-group { align-items:center; }
}

@media (max-width: 499.99px) { 
  #header-navbar .navbar-product-name { font-size:2.4rem; }
  #logo-sm a { display:flex; }
  #logo-sm img { height:22px; }
  #home-header { margin:0 1rem; }
  #home-header h1 { font-size: 2.4rem;}
  #home-header h2 { font-size:1.8rem; line-height:1.4; margin: 0; }
}


@media (min-width:768px) {
	#logo-col img { margin-right:4rem; }

}

#header-navbar #user-utilities .navbar-nav a {
  text-transform: none; 
  margin-bottom: 0; 
  padding:0.5rem; 
  font-weight:bold;
}


#header-navbar .dropdown.open .dropdown-menu { z-index: 1001; }



/* NAVBAR  & MASTHEAD */



.navbar + .navbar, .navbar + .image-masthead { 
  margin-top:0; 
  display:flex; 
  flex-direction:column-reverse; 
  justify-content: center; 
  margin-bottom:0; 
  border-bottom: none;
}

.image-masthead .navbar { 
  border:none; 
  min-height:auto; 
}



.image-masthead ul.nav.navbar-nav.col-sm-7 { width:100%; }

.container.site-title-container, 
.image-masthead .background-container, 
.image-masthead .background-container-gradient { display:none; }
 

@media (max-width:768px) {
  #masthead .navbar-toggle { background-color:#333; color:white; }
  .image-masthead .background-container, 
  .image-masthead .background-container-gradient { display:none;  }
}



