<div id="header-navbar" class="navbar" role="navigation">
  <div class="container">
    <div id="header-row1" class="row">

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="logo-col">
		  <a href="https://library.louisville.edu/home">
	    <%= image_tag("logo-libraries-ALT_white_120w.png", alt: "U of L Libraries") %>
	<div id="logo-sm" class="visible-xs">
	    <%= image_tag("logo-uofl-ligature-ALT_white_40w.png", alt: "U of L Libraries") %>
	</div>
	  </a>

        <div class="navbar-product-name">
          <a href="/">
              Digital Collections
          </a>
        </div>

      </div>


      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="primary-menu">
        <div class="collapse navbar-collapse" id="user-utilities">

          <div class="navbar-right">

            <ul class="nav navbar-nav">

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <% if admin_host? %>
        <%= render '/admin_util_links' %>
      <% else %>
        <%= render '/user_util_links' %>
      <% end %>
    </div>

     </ul>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
